.app.dark {
  /* backgrounds */
  --bg-color: #090949;
  --bg-color-inverted: #e8e8ea;

  /* colors */
  --primary-color: #04ff04;
  --secondary-color: #049604;

  /* inverted */
  --primary-color-inverted: #0232c2;
  --secondary-color-color: #0452ff;
}
