.app.light {
  /* backgrounds */
  --bg-color: ##e8e8ea;
  --bg-color-inverted: #0e0e75;

  /* colors */
  --primary-color: #041c65;
  --secondary-color: #0050fc; 

  /* inverted */
  --primary-color-inverted: #049604;
}
