.Button {
  padding: 10px 16px;
  color: var(--primary-color);
  cursor: pointer;
}

.clear {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

.outline {
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
}

.background {
  color: var(--primary-color);
  background: var(--bg-color);
  border: none;
}

.backgroundInverted {
  color: var(--primary-color-inverted);
  background: var(--bg-color-inverted);
  border: none;
}

.square {
  padding: 0;

  &.size-m {
    width: var(--font-line-m);
    height: var(--font-line-m);
  }

  &.size-l {
    width: var(--font-line-l);
    height: var(--font-line-l);
  }

  &.size-xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
  }
}

.size-m {
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
}

.size-l {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
}

.size-xl {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
}
